@{
    ViewData["Title"] = "Home Page";
}

<div class="nk-content">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <h1 style="color: chocolate;text-align: center;">Incidence Reporting Summary</h1>
        </div>
        <div class="nk-block mt-3">
            <div class="row">
                <!-- Total Card -->
                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                    <div class="card bg-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                         title="Refused">
                        <div class="card-body pt-2 px-2">
                            <span class="text-white" style="font-size:0.7em">Total</span>
                            <span class="text-white" style="float: right; font-size: 1.3em"><i class="ni ni-flag"></i></span>
                            <div class="mt-3">
                                <h2 class="text-white">
                                    17
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Today Card -->
                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                    <div class="card bg-warning" data-bs-toggle="tooltip" data-bs-placement="bottom"
                         title="Refused">
                        <div class="card-body pt-2 px-2">
                            <span class="text-white" style="font-size:0.7em">Today</span>
                            <span class="text-white" style="float: right; font-size: 1.3em"><i class="ni ni-flag"></i></span>
                            <div class="mt-3">
                                <h2 class="text-white">
                                    4
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- This week Card -->
                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                    <div class="card bg-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                         title="Refused">
                        <div class="card-body pt-2 px-2">
                            <span class="text-white" style="font-size:0.7em">This Week</span>
                            <span class="text-white" style="float: right; font-size: 1.3em"><i class="ni ni-flag"></i></span>
                            <div class="mt-3">
                                <h2 class="text-white">
                                    8
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- This Month Card -->
                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                    <div class="card bg-info" data-bs-toggle="tooltip" data-bs-placement="bottom"
                         title="Refused">
                        <div class="card-body pt-2 px-2">
                            <span class="text-white" style="font-size:0.7em">This Month</span>
                            <span class="text-white" style="float: right; font-size: 1.3em"><i class="ni ni-calendar"></i></span>
                            <div class="mt-3">
                                <h2 class="text-white">
                                    11
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- HH affected Card -->
                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                    <div class="card bg-success" data-bs-toggle="tooltip" data-bs-placement="bottom"
                         title="Refused">
                        <div class="card-body pt-2 px-2">
                            <span class="text-white" style="font-size:0.7em">Affecting HH</span>
                            <span class="text-white" style="float: right; font-size: 1.3em"><i class="ni ni-flag"></i></span>
                            <div class="mt-3">
                                <h2 class="text-white">
                                    7
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Partiipant affected Card -->
                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                    <div class="card bg-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                         title="Refused">
                        <div class="card-body pt-2 px-2">
                            <span class="text-white" style="font-size:0.7em">Affecting Participants</span>
                            <span class="text-white" style="float: right; font-size: 1.3em"><i class="ni ni-flag"></i></span>
                            <div class="mt-3">
                                <h2 class="text-white">
                                    2
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
</div>