@{
 Layout = "~/Views/Shared/_WallBoardLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="placards purple row">
                <div class="col-lg-8">
                    <h1 class="white-text placards-text-medium" style="font-size: 11em; margin:0px;" id="int_15_17">---</h1>
                    <p class="white-text placards-sub-text" style="position: unset;">6 WEEKS - 9 YEARS</p>
                </div>
                <div class="col-lg-4 inner-placards white">
                    <div><h5>RESPONSE RATES (%)</h5></div>
                    <div>
                        <i class="fa fa-male" style="font-size:57px;color:skyblue;"> </i><span class="black-text inner-placards-text" id="int_15_17_response_rate_Male">---</span>
                    </div>
                    <div>
                        <i class="fa fa-female" style="font-size:57px;color:pink;"></i><span class="black-text inner-placards-text" id="int_15_17_response_rate_female">---</span>
                    </div>
                    <div>
                        <i class="fa fa-male" style="font-size:30px;color:skyblue;"></i><i class="fa fa-female" style="font-size:30px;color:pink;"></i><span class="black-text inner-placards-text" id="int_15_17_response_rate">---</span>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="col-lg-3"></div> *@
        <div class="col-lg-6">
            <div class="placards green row">
                <div class="col-lg-8">
                    <h1 class="white-text placards-text-medium" style="font-size: 11em; margin:0px;" id="int_0_14">---</h1>
                    <p class="white-text placards-sub-text" style="position: unset;">10-14 YEARS</p>
                </div>
                <div class="col-lg-4 inner-placards white">
                    <div><h5>RESPONSE RATES (%)</h5></div>
                    <div>
                        <i class="fa fa-male" style="font-size:57px;color:skyblue;"> </i><span class="black-text inner-placards-text" id="int_0_14_response_rate_Male">---</span>
                    </div>
                    <div>
                        <i class="fa fa-female" style="font-size:57px;color:pink;"></i><span class="black-text inner-placards-text" id="int_0_14_response_rate_female">---</span>
                    </div>
                    <div>
                        <i class="fa fa-male" style="font-size:30px;color:skyblue;"></i><i class="fa fa-female" style="font-size:30px;color:pink;"></i><span class="black-text inner-placards-text" id="int_0_14_response_rate">---</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="placards blue row">
                <div class="col-lg-8">
                    <h1 class="white-text placards-text-medium" style="font-size: 11em; margin:0px;" id="int_18_64">---</h1>
                    <p class="white-text placards-sub-text" style="position: unset;">15 - 49 YEARS</p>
                </div>
                <div class="col-lg-4 inner-placards white">
                    <div><h5>RESPONSE RATES (%)</h5></div>
                    <div>
                        <i class="fa fa-male" style="font-size:57px;color:skyblue;"></i> <span class="black-text inner-placards-text" id="int_18_64_response_rate_Male">---</span>
                    </div>
                    <div>
                        <i class="fa fa-female" style="font-size:57px;color:pink;"></i> <span class="black-text inner-placards-text" id="int_18_64_response_rate_female">---</span>
                    </div>
                    <div>
                        <i class="fa fa-male" style="font-size:30px;color:skyblue;"></i><i class="fa fa-female" style="font-size:30px;color:pink;"></i><span class="black-text inner-placards-text" id="int_18_64_response_rate">---</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="placards blue row">
                <div class="col-lg-8">
                    <h1 class="white-text placards-text-medium" style="font-size: 11em; margin:0px;" id="int_18_64">---</h1>
                    <p class="white-text placards-sub-text" style="position: unset;">15 - 64 YEARS</p>
                </div>
                <div class="col-lg-4 inner-placards white">
                    <div><h5>RESPONSE RATES (%)</h5></div>
                    <div>
                        <i class="fa fa-male" style="font-size:57px;color:skyblue;"></i> <span class="black-text inner-placards-text" id="int_18_64_response_rate_Male">---</span>
                    </div>
                    <div>
                        <i class="fa fa-female" style="font-size:57px;color:pink;"></i> <span class="black-text inner-placards-text" id="int_18_64_response_rate_female">---</span>
                    </div>
                    <div>
                        <i class="fa fa-male" style="font-size:30px;color:skyblue;"></i><i class="fa fa-female" style="font-size:30px;color:pink;"></i><span class="black-text inner-placards-text" id="int_18_64_response_rate">---</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="placards blue row">
                <div class="col-lg-8">
                    <h1 class="white-text placards-text-medium" style="font-size: 11em; margin:0px;" id="int_18_64">---</h1>
                    <p class="white-text placards-sub-text" style="position: unset;">15 YEARS ABOVE</p>
                </div>
                <div class="col-lg-4 inner-placards white">
                    <div><h5>RESPONSE RATES (%)</h5></div>
                    <div>
                        <i class="fa fa-male" style="font-size:57px;color:skyblue;"></i> <span class="black-text inner-placards-text" id="int_18_64_response_rate_Male">---</span>
                    </div>
                    <div>
                        <i class="fa fa-female" style="font-size:57px;color:pink;"></i> <span class="black-text inner-placards-text" id="int_18_64_response_rate_female">---</span>
                    </div>
                    <div>
                        <i class="fa fa-male" style="font-size:30px;color:skyblue;"></i><i class="fa fa-female" style="font-size:30px;color:pink;"></i><span class="black-text inner-placards-text" id="int_18_64_response_rate">---</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css" integrity="sha512-72McA95q/YhjwmWFMGe8RI3aZIMCTJWPBbV8iQY3jy1z9+bi6+jHnERuNrDPo/WGYEzzNs4WdHNyyEr/yXJ9pA==" crossorigin="anonymous" />
}
@section Scripts{
    <script>
        var surveyStartDate = "2021/3/12";
        $(document).ready(function () {
            get_wallboard_summary_data();
            setInterval(() => {
                get_wallboard_summary_data();
            }, 1000 * 60* 10); 
        });

        function get_wallboard_summary_data(){
            $.get(base_api + "datapullapi/get_wallboard_summary", {project:"BAISV"}, function( data ) {
                //console.log(data);

                $("#int_0_14").text(data.int_0_14);
                $('#int_0_14_response_rate').text(data.int_0_14_response_rate.toFixed(2));
                $("#int_0_14_response_rate_Male").text(data.int_0_14_response_rate_Male.toFixed(2));
                $('#int_0_14_response_rate_female').text(data.int_0_14_response_rate_female.toFixed(2));
                $('#int_15_17').text(data.int_15_17);
                $('#int_15_17_response_rate').text(data.int_15_17_response_rate.toFixed(2));
                $('#int_15_17_response_rate_Male').text(data.int_15_17_response_rate_Male.toFixed(2));
                $('#int_15_17_response_rate_female').text(data.int_15_17_response_rate_female.toFixed(2));
                $("#int_18_64").text(data.int_18_64);
                $('#int_18_64_response_rate').text(data.int_18_64_response_rate.toFixed(2))
                $("#int_18_64_response_rate_female").text(data.int_18_64_response_rate_female.toFixed(2));
                $("#int_18_64_response_rate_Male").text(data.int_18_64_response_rate_Male.toFixed(2));
            });
        }
    </script>
}