@page
@model ForgotPasswordModel
@{
    Layout = "/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Forgot your password?";
}

<div class="login-page">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Forgot STUDYSPACE Account?</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label>Enter Email</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username"
                                aria-required="true" autofocus="true"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <br />
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
        }
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
