@{
    ViewData["Title"] = "Thematic Area";
}

<p>This page still requires some UI fixes</p>

<form action="Deactivate">
    <input type="hidden" name="Id" value="@ViewBag.ID">
    <div>Do you want to delete the This course?</div>
    <input type="submit" value="Delete">
</form>