@using System.Data;
@using PHIASPACE.RTDMS.Utility;
@{
    var table = (DataTable)ViewBag.dt;
    ViewBag.Title = "Response Rate";
    int count = 0;
}

<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> - Response Rate</h4>
            <ul class="breadcrumb breadcrumb-caret position-right">
                <li><a href="/">Home</a></li>
                <li class="active">Response Rate</li>
            </ul>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Form horizontal -->

            <div class="row">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">
                            Response Rate By Region
                            <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                        </h6>
                        <div class="heading-elements">

                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                style="border-top:1px solid #ccc" id="table">
                                <thead>
                                    <tr>
                                        @foreach (DataColumn col in table.Columns)
                                        {
                                            <th>@col.Caption</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow row in table.Rows)
                                    {
                                        count = 1;
                                        <tr>
                                            @foreach (var cell in row.ItemArray)
                                            {
                                                if (count == 32 || count == 31 || count == 30 || count == 24 || count == 25 ||
                                                count == 26 || count == 27)
                                                {
                                                    var value = Convert.ToDouble(cell.ToString());
                                                    <td class="bg-success-400">@string.Format("{0:N2}%", value)</td>
                                                }
                                                else
                                                {
                                                    <td>@Html.Raw(cell.ToString())</td>
                                                }
                                                count = count + 1;
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /form horizontal -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->


@section styles{
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link href=" https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />

    <style>
        th {
            font-weight: bold;
            font-size: 1.2em;
            border-color: #03A9F4 !important;
        }

        table {
            border: 1px;
            border-color: #03A9F4 !important;
        }

        td {
            border-color: #03A9F4 !important;
        }

        .table > tbody > tr > td, .table > thead > tr > th {
            padding: 6px 10px;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #F0F8FF;
        }

        tr.selected {
            background-color: #FFCF8B !important
        }
    </style>
}
@section scripts{
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>

    <script>


        $(document).ready(function () {

            $("tr").click(function () {
                $(this).addClass("selected").siblings().removeClass("selected");
            });

            $('.daterange-ranges').daterangepicker(
                {
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment(),
                    minDate: '01/01/2016',
                    maxDate: '12/31/3016',
                    dateLimit: { days: 365 },
                    ranges: {
                        //'Today': [moment(), moment()],
                        //'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        //'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        //'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        //'This Month': [moment().startOf('month'), moment().endOf('month')],
                        //'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    opens: 'left',
                    applyClass: 'btn-small bg-slate-600 btn-block',
                    cancelClass: 'btn-small btn-default btn-block',
                    format: 'MM/DD/YYYY'
                },
                function (start, end) {
                    $('.daterange-ranges span').html(start.format('MMMM D') + ' - ' + end.format('MMMM D'));
                }
            );



            $('.daterange-ranges').on('apply.daterangepicker', function (ev, picker) {
                //$(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                //alert(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));

                $("#startdate").val(picker.startDate.format('MM/DD/YYYY'));
                $("#enddate").val(picker.endDate.format('MM/DD/YYYY'));
                $("#frm").submit();

            });


            $('table').DataTable({
                dom: 'Bfrtip',
                "pageLength": 50,
                "ordering": false,
                scrollX: true,
                scrollCollapse: true,
                fixedColumns: {
                    leftColumns: 1
                },
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',

                ]
            });


        });

    </script>




}
