<!-- include Footer -->
<div class="nk-footer">
    <div class="container-fluid">
        <div class="nk-footer-wrap">
            <div class="nk-footer-copyright"> &copy; Development Team <a href="#" target="_blank" class="text-reset">CIHEB 201</a>
            </div>
            <div class="nk-footer-links">
                <ul class="nav nav-sm">
                    <li class="nav-item">
                        <a href="https://www.ciheb.org/201-team/" class="nav-link" title="201 is a group of IT professionals dedicated to solving IT problems">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="mailto:sohakanu@ihv.umaryland.edu,cezekwe@ihv.umaryland.edu" class="nav-link" title="201 support can be reached by sending email to sohakanu@ihv.umaryland.edu, cezekwe@ihv.umaryland.edu">Support</a>
                    </li>
                    @* <li class="nav-item">
                        <a href="#" class="nav-link">Blog</a>
                    </li> *@
                </ul>
            </div>
        </div>
    </div>
</div><!-- .nk-footer -->